body{
    background-color: white;
}

.zoom-marker-div{
/*    width:90%;*/
    margin:auto auto auto auto;
    height:800px;
    overflow:hidden;
    position: relative;
    background-color: white;
}

.zoom-marker-div-half{
    width:90%;
    margin:auto auto auto auto;
    height:400px;
    overflow:hidden;
    position: relative;
    background-color: white;
}

.zoom-marker-img{
    max-width: 100%;
    max-height: 100%;
    position:absolute;
    left: 0;
    top:0;
    z-index:1;
}

.zoom-marker{
    z-index:2;
    position: absolute;
    cursor: pointer;
}

.zoom-marker img{
    position: absolute;
}

.zoom-marker span{
    position: absolute;
}

.zoom-marker-hover-dialog{
    z-index: 999;
    background-color: lightgray;
    display: none;
    position: absolute;
    padding: 10px;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.zoom-marker-opacity{
    opacity:0.4;
    filter:alpha(opacity=40);
}
